<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Document</title>	
        <link rel="stylesheet" href="static/style.css">
	</head>
	
	<body>		

		<header id="header">
			<div class="innertube">
				<p>메뉴</p>
			</div>
		</header>
				
		<main>
			<div class="innertube">
				
				<h1>홈</h1>
				<p><script>generateText(300)</script></p>
				
			</div>
		</main>

		<nav id="nav">
			<div class="innertube">
				<h1>그래프</h1>
				<ul>
					<li><a href="#">월간 그래프</a></li>
					<li><a href="#">주간 그래프</a></li>
					<li><a href="#">일일 그래프</a></li>
				</ul>
				<h1>만든사람들</h1>
				<ul>
					<li><a href="#">이구병</a></li>
					<li><a href="#">이동훈</a></li>
					<li><a href="#">전수향</a></li>
					<li><a href="#">김태현</a></li>
				</ul>

			</div>
		</nav>	
		
		<footer id="footer">
			<div class="innertube">
				<p>made by 수동태29</p>
			</div>
		</footer>	
			
	</body>
</html>
