<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Document</title>	
        <link rel="stylesheet" href="/static/style.css">
	</head>
	
	<body>		

		<header id="header">
			<div class="innertube">
				<p>메뉴</p>
			</div>
		</header>
		
		</div>
		<main>
			<div class="innertube">
				<h2>홈</h2>
				<img id="pic1" src="/static/src/main.jpg" width="300" height="200">
				<h3>코골이란 무엇일까요?</h3>
				<h5>명실공히 수면의 적으로, 이름과는 달리 코에서 나는 소리보다는 목젖을 포함한 목 주위가 떨리면서 나는 소리다. 비만인 성인 남자, 아래턱이 작고 뒤로 쳐지거나, 목이 짧고 굵은 경우에 자면서 코를 고는 것을 흔히 보는데, 이는 앞서 말한 목젖 주위가 좁기 때문이다. 좁은 틈을 공기가 이동하면서 생기는 마찰로 인해 자연스럽게 소리가 발생되는 것이다. 방귀가 소리가 나는 이유와도 비슷하다.
				</h5>
			</div>
		</main>
		<nav id="nav">
			<div class="innertube">
				<h1>그래프</h1>
				<ul>
					<li><a href="charts/chart1.html">월간 그래프</a></li>
					<li><a href="charts/chart2.html">주간 그래프</a></li>
					<li><a href="charts/chart3.html">일일 그래프</a></li>
				</ul>
				<h1>만든사람들</h1>
				<ul>
					<li><a href="https://github.com/NouXXXX">이구병</a></li>
					<li><a href="https://github.com/DoHi0512">이동훈</a></li>
					<li><a href="https://github.com/soohyang136">전수향</a></li>
					<li><a href="https://github.com/KEHyeon">김태현</a></li>
				</ul>
			</div>
		</nav>

		<footer id="footer">
			<div class="innertube">
				<p>made by 수동태29</p>
			</div>
		</footer>	
			
	</body>
</html>
