<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="container">
            <form action="/post" method="post">
                <label> I  D </label><input type="text" name="inputID">
                <label> PW </label><input type="text" name="inputPW">
                <button>로그인</button>
            </form>
        <div class="search">
            <button>회원가입</button>
            <button>찾기</button>
        </div>
    </div>
</body>
</html>
